{{ define "show_order" }}
<section class="breadcrumb-section pb-3 pt-3">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/orders">Orders</a></li>
			<li aria-current="page" class="breadcrumb-item active">Detail</li>
		</ol>
	</div>
</section>
<section class="product-page pb-4 pt-4">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-4">
				<div class="section-title">
					<h2>Payment</h2>
				</div>
			</div>
		</div>
		{{ if .success }}
		<div class="alert alert-success">
			{{ range $i, $msg := .success }}
			{{ $msg }}<br/>
			{{ end }}
		</div>
		{{ end }}
		<div class="row">
			<div class="col-lg-8">
				<!-- Details -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="mb-3 d-flex justify-content-between">
							<div>
								<span class="me-3">Order Code</span>
								<span class="me-3">#{{ .order.Code }}</span>
								<span class="badge rounded-pill bg-info">{{ .order.GetStatusLabel }}</span>
							</div>
						</div>
						<table class="table table-borderless">
							<tbody>
							{{ range $i, $item := .order.OrderItems }}
							<tr>
								<td>
									<div class="d-flex mb-2">
										<div class="flex-shrink-0">
											<img src="https://placehold.jp/40x50.png" class="img-fluid"/>
										</div>
										<div class="flex-lg-grow-1 ms-3 pl-2">
											<h6 class="small mb-0"><a href="/products/{{ $item.Product.Slug }}"
																	  class="text-reset">{{ $item.Product.Name }}</a>
											</h6>
										</div>
									</div>
								</td>
								<td>{{ $item.Qty }}</td>
								<td class="text-end">{{ $item.SubTotal }}</td>
							</tr>
							{{ end }}
							</tbody>
							<tfoot>
							<tr>
								<td colspan="2">Subtotal</td>
								<td class="text-end">{{ .order.BaseTotalPrice }}</td>
							</tr>
							<tr>
								<td colspan="2">Shipping</td>
								<td class="text-end">{{ .order.ShippingCost }}</td>
							</tr>
							<tr>
								<td colspan="2">Discount ({{ .order.DiscountPercent }}%)</td>
								<td class="text-danger text-end">-{{ .order.DiscountAmount }}</td>
							</tr>
							<tr class="fw-bold">
								<td colspan="2">TOTAL</td>
								<td class="text-end">{{ .order.GrandTotal }}</td>
							</tr>
							</tfoot>
						</table>
					</div>
				</div>
				<!-- Payment -->
				<div class="card mb-4">
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<h3 class="h6">Payment Method</h3>
								{{ if .order.IsPaid }}
								<p>Visa -1234 <br>
									Total: $169,98 <span class="badge bg-success rounded-pill">PAID</span>
								</p>
								{{ else }}
								<a href="{{ .order.PaymentToken.String }}" target="_blank">
									<button class="btn btn-primary">Pay Now</button>
								</a>
								{{ end }}
							</div>
							<div class="col-lg-6">
								<h3 class="h6">Billing address</h3>
								<address>
									<strong>{{ .order.User.FirstName }} {{ .order.User.LastName }}</strong><br>
									<abbr title="Phone">Email:</abbr> {{ .order.User.Email }}
								</address>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<!-- Customer Notes -->
				<div class="card mb-4">
					<div class="card-body">
						<h3 class="h6">Customer Notes</h3>
						<p>{{ .order.Note }}</p>
					</div>
				</div>
				<div class="card mb-4">
					<!-- Shipping information -->
					<div class="card-body">
						<h3 class="h6">Shipping Information</h3>
						<strong>{{ .order.ShippingCourier }}</strong>
						<span>{{ .order.ShippingServiceName }}</span>
						<hr>
						<h3 class="h6">Address</h3>
						<address>
							<strong>{{ .order.OrderCustomer.FirstName }} {{ .order.OrderCustomer.LastName
								}}</strong><br>
							{{ .order.OrderCustomer.Address1 }}<br>
							{{ .order.OrderCustomer.Address2 }}<br>
							<abbr title="Phone">Phone:</abbr> {{ .order.OrderCustomer.Phone }}
						</address>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}